<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Login Form" />
    <link href="//fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="w3l-mockup-form">
        <div class="container">
            <div class="workinghny-form-grid">
                <div class="main-mockup">
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="assets/images/image2.svg" alt="">
                        </div>
                    </div>
                    <div class="content-wthree">
                        <h2>Register Now</h2>
                        <p>Bine ai venit! </p>

                        <form #Registerform="ngForm" (ngSubmit)="registerUser()">
                            <input type="email" class="email" name="email" placeholder="Enter Your Email"
                                [(ngModel)]="user.email" required #email="ngModel"
                                pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
                                [class.is-invalid]="email.invalid && email.touched">
                            <div *ngIf="email.errors && (email.invalid && email.touched)">
                                <small class="text-danger" *ngIf="email.errors.required">Email is required field</small>
                                <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid email</small>
                            </div>


                            <input type="text" class="name" name="FirstName" placeholder="Enter Your First Name"
                                value="" [(ngModel)]="user.firstName" required #firstName="ngModel"
                                [class.is-invalid]="firstName.invalid && firstName.touched">
                            <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">FirstName
                                is required field</small>

                            <input type="text" class="name" name="LastName" placeholder="Enter Your Last Name" value=""
                                [(ngModel)]="user.lastName" required #lastName="ngModel"
                                [class.is-invalid]="lastName.invalid && lastName.touched">
                            <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">LastName is
                                required field</small>


                            <input type="password" class="password" name="password" placeholder="Enter Your Password"
                                [(ngModel)]="user.password" required #password="ngModel"
                                [class.is-invalid]="password.invalid && password.touched">
                            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is
                                required field</small>


                            <input type="password" class="confirm-password" name="cpassword"
                                placeholder="Enter Your Confirm Password" #cpassword="ngModel" (ngModel)="user.password"
                                required [class.is-invalid]="cpassword.invalid && cpassword.touched">

                            <small class="text-danger"
                                [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Password &
                                Confirm Password must be same</small>

                            <button [disabled]="Registerform.form.invalid" name="submit" class="btn"
                                type="submit">Register</button>
                        </form>
                        <div class="social-icons">
                            <p>Have an account? <a [routerLink]="['/login']">Login.</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>

</html>